html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      margin: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1rem;
      line-height: 1.6;
  }

  :root {
    --main-color: #E10000;
    --main-hover-color: #bb181d;
    --vice-color: #61BFAD;
    --vice-hover-color: #50a091;
  }

  header,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6,
  .section7,
  .section8,
  .section9,
  .section10,
  .section11 {
      border-bottom: 1px solid #e9e9e9; 
  }

  .header-wrapper,
  .section-wrapper,
  .footer-wrapper,
  .section-wrapper2,
  .section3-wrapper,
  .section4-wrapper,
  .section5-wrapper,
  .second-pic-wrapper5,
  .first-pic-wrapper5,
  .section-wrapper6,
  .section7-wrapper,
  .section8-wrapper,
  .section9-wrapper,
  .section10-wrapper,
  .section11-wrapper {
      /* outline: 1px solid; */
      margin-left: auto;
      margin-right: auto;
      max-width: 1160px;
  }

  .section-wrapper,
  .section-wrapper2,
  .section4-wrapper,
  .section5-wrapper,
  .section-wrapper6,
  .section7-wrapper,
  .section8-wrapper,
  .section9-wrapper,
  .section10-wrapper,
  .section11-wrapper,
  .footer-wrapper {
      padding: 64px 12px;
  }
  
  .header-wrapper {
      padding: 40px 12px;
  }
/* section one starts */
  .header-wrapper,
  .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .svg {
      color: #bb181d;
      font-size: 40px;
  }

  .turkey {
    color: #bb181d;
    font-weight: bolder;
  }

  .nav-wrapper a {
      text-decoration: none;
      color: black;
      font-size: 19px;
      padding-right: 40px;
  }

  .nav-wrapper a:hover {
      color: var(--main-hover-color)
  }

  .more {
    margin-top: 9px;
    margin-left: 6px;
  }

  .link-more {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .section-wrapper {
      display: flex;
  }

  .left {
      /* outline: 1px solid; */
      width: 70%;
      display: flex;
      flex-direction: column;
      text-align: left;
  }

  .left h1 {
      margin-top: 0;
      font-size: 2.6rem
  }
  .red-link {
      background-color: var(--main-color);
      padding: 14px 40px 12px;
      border-radius: 36px;
      color: white;
      text-decoration: none;
      font-weight: 600;
  }

  .blue-link {
    background-color: var(--vice-color);
    padding: 14px 40px;
    border-radius: 36px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .right {
      height: 100%;
      box-shadow: 0 0 64px rgba(0,0,0,0.1);
      /* outline: 1px solid; */
      width: 30%;
      padding: 40px;
  }
 
/*section one end */

/* section2 start shere */
  .section2 {
    background-color: #f6f6f6;
      /* outline: 1px solid green; */
  }

  .section-wrapper2 {
      display: flex;
      flex-direction: column;
  }

  .h2-wrapper,
  .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .h2-wrapper {
      font-size: 20px;
  }

    .icon-content:hover,
    .grid-items:hover    {
        box-shadow: 0 0 64px rgba(0,0,0,0.1);
        transition: all .2s ease;
        cursor: pointer;
  }

    .icon-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 32px 12px;
        width: 23%;
        position: relative;
    } 

    .number-circle {
        background-color: var(--main-color);
        color: #fff;
        width: 24px;
        height: 24px;
        line-height: 22px;
        font-size: .8rem;
        font-weight: 600;
        display: inline-block;
        border-radius: 100%;
        position: absolute;
        left: 80px;
        top: 15px;
    }

    .grey-letters {
        color: #999999;
        margin: 4px 0 0;
        font-size: .8rem;
    }

    .middle-img-content {
        border-left: 1px solid #e9e9e9; 
        border-right: 1px solid #e9e9e9;
    }

    .img {
        height: auto;
        width: 80px;
    }
/* end of section2 */

/* section3 starts here */
    .section3-wrapper {
        padding: 64px 4px;
    }

    .icon-wrapper-finalist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 32px 12px;
    }

    .border-four {
        border-left: 1px solid #e9e9e9; 
        border-right: 1px solid #e9e9e9; 
        border-bottom: 1px solid #e9e9e9; 
    }

    .borde-side {
        border-left: 1px solid #e9e9e9; 
        border-right: 1px solid #e9e9e9;
    }

    .border-bottom {
        border-bottom: 1px solid #e9e9e9; 
    }

    .h2-finalist {
        margin-bottom: 42px;
        margin-top: 0;
    }
/* end of section3 */

/* section4 starts here */
    .section4-wrapper {
        display: flex;
    }

    .guy-pic {
        height: auto;
        width: 118px;
        border-radius: 100%;
    }

    .img-wrapper {
        position: relative;
    }

    .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 90px;
        background-color: white;
        border-radius: 100%;
    }

    .play-btn:hover {
        cursor: pointer;
    }

    .text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        padding-left: 40px;
    }
/* section4 end here  */

/* section5 starts here */

.second-pic-wrapper5 {
    margin: 64px 0; 
    display: flex;
    flex-wrap: wrap;
}

.grid-pic-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    position: relative;
}

.grid-pic-wrapper:hover,
.previous-icons:hover,
.img10:hover,
.pic-row img:hover,
.pic-row2 img:hover,
.text10 img:hover {
    filter: grayscale(0);
    transition: all .3s ease;
}

.hidden-text {
    opacity: 0;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 24px;
    padding: 16px;
    transform: translateY(50%);
    border: 1px solid #e9e9e9;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden-text:hover {
    opacity: 1;
    transition: all .3s ease;
}

.h2-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.h2-wrapper2 h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.first-pic-wrapper5 {
    display: flex;
    margin: 64px 0;
}

.link {
    display: flex;
    justify-content: center;
    align-self: center;
}

.button-link {
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    align-items: center;
    width: auto;
    padding: 14px 40px 12px;
    border-radius: 36px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 64px;
}

.button-link:hover {
    background: #000;
    color: #fff;
    transition: all .3s ease;
}

.third-section {
    border-top: 1px solid #e9e9e9;
    padding-top: 64px;
}

.previous-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-icons {
    padding: 16px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e9e9e9;
    filter: grayscale(100);
}

.last-one {
    border: none;
}

/* section5 ends here */

/* section6 starts here */

.section-wrapper6,
.text6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container-6 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    width: 100%;    
}

.pic-wrapper6 {
    padding: 0 20px;
    width: 33.33333%;
}

.pic-wrapper6 h4 {
    font-size: 1.4rem;
    margin: 0 0 8px;
    font-weight: 400;
}

.text6 h2 {
    font-size: 35px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.text6 span {
    margin: 4px 0 0;
    font-size: 19px
}

.span6 {
    font-size: 18px;
}

/* section6 ends here */

.text7 h2 {
    font-size: 34px;
    margin: 0;
}

.text7 {
    padding-bottom: 52px;
    text-align: center;
}

.content-wraper7 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img7 {
    display: flex;
}

.img7-text {
    padding: 24px 24px 24px 24px;
    background-color: #f6f6f6;
    margin-right: 22px;
    margin-bottom: 22px;
}

.img7-text h4 {
    font-size: 20px;
    margin: 0 0 8px;
}

.content7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-link7 {
    margin-bottom: 0;
    margin-top: 52px;
}

.content-wraper7:hover {
    cursor: pointer;
}

/* section7 ends here */

/* section8 starts here */
.img8-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
}

.img8 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    width: auto;
    border-right: 1px solid #eee;
}

.img8 span {
    font-size: 31px;
    font-weight: bolder;
    padding: 0 30px;
}

.img8 span:hover {
    cursor: pointer;    
}

.last-content {
    border: none
}
/* section8 ends here */

/* section9 strats here */

.img9,
.text9 {
    width: 50%;
}

.img9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text9 {
    text-align: start;
    font-size: 18px;
}

.section9-wrapper {
    display: flex;
}

.text9-top h2 {
    margin: 0;
    font-size: 33px;
}

.mini-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-items {
    border-right: 1px solid #eee;
    height: 35px;
    width: auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-items:hover {
    cursor: pointer;
    background: #f6f6f6;
    transition: all .3s ease;
}

.first-item {
    border-left: 1px solid #eee;
}

/* section9 ends here */

/* section10 starts here */

.text10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text10 h2 {
    font-size: 35px;
    margin: 0 0 52px 0;
}

.text10 h3 {
    font-size: 28px;
    margin: 0;
    font-weight: 400;
}

.img10 {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    margin-bottom: 40px;
    margin-top: 15px;
}

.img-properties {
    width: 260px;
    height: auto;
}

.pic-row img {
    width: 180px;
    height: auto;
    margin: 16px 48px;
    filter: grayscale(100);
}

.pic-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-row-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bottom {
    border-bottom: 1px solid #e9e9e9; 
}

.left-r {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.right-bord {
    border-right: 1px solid #e9e9e9;
}

.pic-row2 img {
    width: 110px;
    height: auto;
    margin: 16px 36px;
    filter: grayscale(100);   
}

.pic-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-row-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.text10 img {
    filter: grayscale(100)
}

.section10-wrapper p {
    width: 70%;
    margin: 0 auto;
    font-size: 18px; 
}

/* section10 ends here */

/* section11 starts here */

.section11-wrapper {
    color: #999999
}

.section11-wrapper h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 16px;
}

/* section11 ends here */

/* footer starts here */

.ul-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #999999;
    line-height: 1.2;
}

.ul-h4 {
    margin: 0 0 8px;   
}

.ul-wrapper ul li {
    list-style: none;
}

.ul-wrapper ul li a {
    text-decoration: none;
    color: #999999;
}

.ul-wrapper ul li a:hover {
    color: #000;
}

.mini-items-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mini-items-11-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-item11 a {
    padding:0 15px; 
    text-decoration: none;
    color: #999999;
}

.mini-item11 a:hover {
    color: #000;
    transition: all .2s ease;
}

.p-wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #999999;
}

/* footer ends here */